#page	{
	width:		800px;


}

#camImage	{
	position: 	absolute;
	top:		0px;
	left:		0px;
}

#metaContainer	{
	position: 	absolute;
	top:		0px;
	left: 		700px;
}

#textContainer	{
	position: 	absolute;
	top:		500px;
	left: 		0px;

}
